@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 255, 255, 255;
  --layout-background: #131313;
  --highlight-layout-background: #202329;
  --highlight-main-background: #2f333d;
  --violet: #6b8afd;
  --white: #ffffff;
  --gray: #878c97;
  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;

  --glow-conic: conic-gradient(
    from 180deg at 50% 50%,
    #2a8af6 0deg,
    #a853ba 180deg,
    #e92a67 360deg
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--white);
}
input,
textarea {
  padding-block: 0.8rem;
  background-color: transparent;
  border: none;
  font-size: small;
  outline: none;
  color: var(--white);
}
textarea {
  resize: none;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--white);
}
