.layout {
  background-color: var(--layout-background);
  display: flex;
  grid-template-columns: 15;
  min-height: 100vh;
  position: fixed;
  width: 100vw;
}

.navbar_container {
  /* background: gray; */
  width: 6rem;
  height: 100vh;
}
.main_container {
  background: red;
  width: 100%;
}
